.grid {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  height: 60vh;
  width: 60vh;
  background-color: black;
  margin: auto;
}

.board {
  width: 18vh;
  height: 18vh;
  margin: 1vh;
  float: left;
  position: relative;
  background-color: white;
}

.board:hover {
  background-color: black;
}
