.player {
  font-size: 10vh;
  text-align: center;
  margin-top: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.win {
  color: rgb(0, 200, 0);
  font-size: 10vh;
  text-align: center;
  margin-top: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  height: 60vh;
  width: 60vh;
  background-color: rgb(170, 170, 170);
  padding: 0.5vh;
  margin: auto;
}

.cell {
  width: 19vh;
  height: 19vh;
  margin: 0.5vh;
  float: left;
  position: relative;
  background-color: white;
}

.cell:hover {
  background-color: lightblue;
}
